body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    
}
/* .content{
    position: relative;
} */
.container{
    position: absolute;
    top: 50%;
    left: 40%;
    /* transform: translate(0, -10%); */
} 
button{
    margin-left: 10%;
    border-radius: 5px;
    color: white;
    border: 1px solid black;
}
.cancel{
    background-color: red;
}
.submit{
    background-color: blue;
}